@tailwind base;
@tailwind components;
@tailwind utilities;

  .mobile-menu {
      display: none;
  }
  .mobile-menu.active {
      display: block;
  }
  
  .logo-carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .logo-track {
    display: flex;
    animation: scroll 20s linear infinite;
  }

  .logo-track:hover {
    animation-play-state: paused;
  }
  
  .logo-item {
    flex: 0 0 25%; /* 4 logos por vez */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-black {
    width: 8rem; /* Ajuste o tamanho conforme necessário */
    height: rem; /* Ajuste o tamanho conforme necessário */
    object-fit: contain;
    filter: invert(1) brightness(0);
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }

  }
  @media (max-width: 840px) {
    .logo-track {
        gap: 2rem; /* Increase gap between logos on smaller screens */
    }
}

@media (prefers-color-scheme: dark) {
  .logo {
    content: none;
    background-image: url('images/logo_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 56px; /* Substituir altura do h-14 */
    width: auto;
  }
}

